/* // App.css
body {
  font-family: Arial, sans-serif;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.position-fixed {
  z-index: 1050;
} */
/* Arrow Right Circle Hover Effect */
.bi-arrow-right-circle:hover {
  color: #3572ef; /* Change icon color to solid blue on hover */
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

/* Shop Icon Hover Effect */
div[title="Shop"]:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(60%) saturate(617%)
    hue-rotate(202deg) brightness(96%) contrast(95%);
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Clipboard Icon Hover Effect */
div[title="clipboard-text"]:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(60%) saturate(617%)
    hue-rotate(202deg) brightness(96%) contrast(95%);
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Setting Icon Hover Effect */
div[title="setting"]:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(60%) saturate(617%)
    hue-rotate(202deg) brightness(96%) contrast(95%);
  transform: scale(1.1); /* Slightly enlarge the icon */
  transition: filter 0.3s ease, transform 0.3s ease;
}

.btn-category:hover {
  background-color: #6392f3;
  color: white;
}

.btn-category.active {
  background-color: #3572ef;
  color: white;
  border-color: #3572ef;
}

/* border arrow right */
/* .arrow-right-icon {
  position: relative;
  padding: 5 px 0;
}

.arrow-right-icon::before,
.arrow-right-icon::after {
  content: "";
  position: absolute;
  left: 50%; /* Center the border 
  transform: translateX(-50%);
  width: 50px; /* Panjang border 
  border-top: 2px solid #6392f3; /* Top border 
}

.arrow-right-icon::after {
  top: 100%; /* Bottom border 
  border-top: none;
  border-bottom: 2px solid #6392f3;
} */
